<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Expression.Encoder" version="4.0.4276.3" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net40" />
  <package id="WpfWebcamControl" version="3.3.1" targetFramework="net45" />
</packages>